.club-admin-home-background {
  background: url('public/images/club-admin-home.jpg') no-repeat center center fixed;
  background-size: cover;
}
.admin-background{
  background: url(images\diamond-head.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 700px;
  width: 100%;
}

